.container {
  width: 70%;
  margin: 4rem auto 4rem auto;
  @media (max-width: 900px) {
    width: 95%;
    margin: 2rem auto;
  }
}
.text1,
.text2,
.star1,
.star2 {
  @media (max-width: 768px) {
    display: none;
  }
}
.text1 {
  top: 5rem;
  left: 3rem;
}
.text2 {
  bottom: 0rem;
  right: 7rem;
}
.star1 img,
.star2 img {
  width: 100%;
  animation: rotation 3s infinite linear;
  max-width: 80%;
  height: auto;
  @media (max-width: 1100px) {
    max-width: 50%;
  }
}
.star1 {
  bottom: 1rem;
  left: 2rem;
}
.star2 {
  top: 4rem;
  right: 15%;
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
.custom-images {
  svg {
    max-width: 25%;
    height: auto;
  }
  img {
    max-width: 16%;
    animation: rotation 3s infinite linear;
    height: auto;
  }
}
